.App {
    text-align: center;
   
    height: 100vh;
  }
.paragraph{
    position: relative;
   
    top: 30px;
    min-height: 100px;
    max-height: 400px;
    width: 70%;
    font-size: 15px;
    text-align: left;
    color: black;
    border-width: 2px;
    border-radius: 10px;
    height: 30vh;
    padding: 10px;
    padding-right: 100px;
    background-color: rgb(243, 244, 247);
    margin-top:10px;
    margin: 0 auto;
  }
  .question{
    
    position: relative;
    top: 50px;
    min-height: 50px;
    max-height:70px;
    width: 70%;
    font-size: 15px;
    text-align:left;
    color: black;
    border-width: 2px;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    padding-right: 100px;
    background-color: rgb(243, 244, 247);
    margin-top: 10px;
    margin: 0 auto;
  } 
  .answer {
    
   position: relative;
    width: 70%;
    font-size: 15px;
    text-align: left;
    color: white;
    border-radius: 10px;
    height: 20vh;
    padding: 20px;
    background-color:rgb(12, 22, 52);
    margin-top: 10px;
    margin: 0 auto;
    border-width:2px;
  
  }
  
  .search{
    
    position: relative;
    top: 10px;
    left: 76%;
    border-radius: 5px;
    color: white;
    background-color: rgb(15, 9, 100);
    
  }
  
  .close{
    
    position: relative;
    left: 76%;
    top: -10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(15, 9, 100);
  }
  #loading{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    color: white;
    background-color: rgb(12, 22, 52);
  }
  