body {
  font-family: Arial, sans-serif;
 
}

.app {
  padding: 20px;
}
/* General Styles */


.button-group {
  display: flex;
  flex-direction: row;  /* Change to row for horizontal layout */
  gap: 20px;            /* Space between buttons */
  align-items: center;  /* Align buttons in the center */
position: absolute;
right: 10px;
color: white;
background-color: transparent;
}

.btn {
                 /* Text color */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease;
  color: white;
}

.btn:hover {
  color:white;  /* Change text color on hover */
}

.btn:active {
  color: white;  /* Change text color on active state */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .app-header {
    position: static;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 1rem;
  }

  .button-group {
   
    justify-content: center; /* Center buttons */
  }
}


.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
}

.stock-table th,
.stock-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.stock-table th {
  background-color: #004085;
  color: white;
}

.stock-table tr:hover {
  background-color: #f1f1f1;
}

.stock-table td {
  color: #333;
}
